body {
    background-color: #F0F0F0;
}

#contranner {}

#isleft {
    background-color: white;
    height: 100%;
    width: 19%;
    overflow: auto;
    float: left;
}

#isright {
    margin-left: 20%;
    background-color: white;
    height: 100%;
    overflow: auto;
}

#myinner {
    padding: 0px 10px 0px 10px;
}

.article {
    margin-right: 50px;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 19%;
    background-color: gainsboro;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    font-size: 150%;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #3D4B93;
    color: white;
    font-size: 200%;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}